<div class="acc-desk">
  <a class="user-mobile" href="/account">
    <span class="account-icon">
      {{ settings.acc_svg_icon }}
    </span>
    <span class="account-title">{{ settings.account_title }}</span>
  </a>
</div>
<style>
  .user-wrap .acc-desk{
    position: relative;
  }
  .user-wrap .acc-desk a.user-mobile{
    {%- if template == 'index' -%}
    color: {{ section.settings.header_txt_color }};
    {%- else -%}
    color: var(--color-secondary);
    {%- endif -%}
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .is-sticky .user-wrap .acc-desk a.user-mobile{
    color: var(--color-secondary);
  }
  .user-wrap .acc-desk a.user-mobile svg{
    height: 18px;
    width: 18px;
  }
  .user-wrap .acc-desk a.user-mobile span.account-title{
    {% if settings.enable_rtl %}
    margin-right: 8px;
    {% else %}
    margin-left: 8px;
    {% endif %}
  }
  .user-wrap .acc-desk a.acc-ti span.acc-icon{
    line-height: 0;
  }
  .user-wrap .acc-desk a.acc-ti span.acc-detail{
    display: none;
    {% if settings.enable_rtl %}
    margin-right: 10px;
    {% else %}
    margin-left: 10px;
    {% endif %}
  }
  .user-wrap .acc-desk a.acc-ti span.acc-detail span.acc-text{
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .user-wrap .acc-desk a.acc-ti span.acc-detail span.acc-user{
    display: block;
    margin-top: 5px;
    text-transform: capitalize;
  }
  .user-wrap .acc-desk a.acc-ti::after{
    display: none;
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    {% if settings.enable_rtl %}
    left: 0;
    {% else %}
    right: 0;
    {% endif %}
    bottom: 50%;
    transform: translateY(50%);
  }
  .user-wrap .acc-desk .acc-re-lo {
    display: none;
  }
  .user-wrap .acc-desk .acc-re-lo a:hover{
    color: #fff;
  }
  .user-wrap .acc-desk .acc-re-lo a{
    color: {{ settings.notification_txt_color }};
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
  }
  .user-wrap .acc-desk .acc-re-lo a:first-child{
    {% if settings.enable_rtl %}
    margin-right: 0px;
    {% else %}
    margin-left: 0px;
    {% endif %}
  }
  .user-wrap .acc-desk .acc-re-lo a{
    {% if settings.enable_rtl %}
    margin-right: 40px;
    {% else %}
    margin-left: 40px;
    {% endif %}
  }
  @media (max-width: 1199px) {
    .user-wrap .acc-desk a.user-mobile span.account-icon{
      display: block;
    }
    .user-wrap .acc-desk a.user-mobile span.account-title,
    .user-wrap .acc-desk a.acc-ti span.acc-detail{
      display: none;
    }
    .user-wrap .acc-desk .acc-re-lo a{
      font-size: 14px;
      {% if settings.enable_rtl %}
      margin-right: 15px;
      {% else %}
      margin-left: 15px;
      {% endif %}
    }
  }
  @media(max-width: 767px){
    .user-wrap .acc-desk a.user-mobile span.account-title{
      display: none;
    }
    .user-wrap .acc-desk a.user-mobile svg{
      display: block;
    }
  }
</style>